.fn-header,.fn-link,.fn-title,.fn-copyright,.fn-drawer-trigger,
.fn-icon-link,.fn-container,.fn-pagetop,.fn-icon,.fn-sidebar,.fn-menu,
.fn-separate,.fn-content,.fn-content img,.fn-heading2,.fn-sub-heading,
.fn-heading3,.fn-attribute,.fn-attribute-item,.fn-comment,.fn-article,
.fn-preview,.fn-pre,.fn-code,svg.fn-ripple,.fn-tooltip,.fn-color-pallet,
.fn-color-name,.fn-color-panel,.fn-overview
{
	@extend .fn-reset;

}

.fn-header {
	@extend %clearfix;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	background: $header-color;
	height: $header-height;
	box-sizing: border-box;
	padding: 0 20px;
	box-shadow: $base-shadow;
	.fn-link {
		color: $header-font-color;
	}
	.fn-title {
		color: $header-font-color;
		letter-spacing: 2px;
		line-height: $header-height;
		font-size: 24px;
		float: left;
		margin: 0;
	}
	.fn-copyright {
		color: $header-font-color;
		float: right;
		line-height: $header-height;
		font-size: 11px;
	}
	.fn-drawer-trigger {
		float: left;
		line-height: $header-height;
		color: #fff;
		font-size: 20px;
		cursor: pointer;

	}
	.fn-icon-link {
		overflow: hidden;
		border-radius: 50px;
		padding: 20px;
		color: $header-font-color;
	}
}

.fn-container {
	@extend %clearfix;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding-top: 64px;
	position: relative;
	.fn-pagetop {
		position: fixed;
		right: 15px;
		bottom: 15px;
		transform: scale(0,0);
		transition: 400ms cubic-bezier(.17,.67,.47,1.31) transform;
		.fn-icon {
			background: #fff;
			padding: 15px;
			border-radius: 50px;
			box-shadow: $pagetop-shadow;
			&:hover {
				background: #f8f8f8;
			}
		}
		&.fn-show {
			transform: scale(1,1);
		}
	}
}
.fn-sidebar {
	overflow: auto;
	padding-top: 64px;
	width: $sidebar-width;
	height: 100%;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background: #f8f8f8;
	box-shadow: 1px 0 2px #eee;
	transition: 300ms cubic-bezier(.55,0,.1,1) margin;
	.fn-menu {
		position: relative;
		padding: 20px 12px;
		display: block;
		border-bottom: 1px solid #ccc;
		box-shadow: 0 1px 0 #fff;
		&.fn-is-active {
			background: #eee;
			&::after {
				font-size: 12px;
				font-family: fontawesome;
				content: $fa-var-chevron-right;
				position: absolute;
				right: 1em;
			}

		}
	}
	.fn-separate {
		padding: 10px 0;
		border: 0;
		display: block;
	}
}
.fn-content {
	width: 100%;
	box-sizing: border-box;
	padding: 20px 20px 20px $sidebar-width+20px;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(.55,0,.1,1);
	transition-property: margin,padding,filter;
}

.fn-heading2 {
	font-size: 32px;
	margin: 0.5em 0 1em;
	.fn-sub-heading {
		font-size: 14px;
		color: #666;
		word-break: break-all;
	}
}
.fn-heading3 {
	font-size: 24px;
	margin: 2em 0 1em;
}
.fn-attribute {
	@extend %clearfix;
	display: block;
	.fn-attribute-item {
		font-size: 12px;
		display: inline-block;
		padding: 4px 10px;
		border-radius: 3px;
		box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
		margin-right: 5px;
		background: #f8f8f8;
		&.fn-attribute-deprecated {
			background: #cb4437;
			color: #fff;
		}
		&.fn-attribute-todo {
			background: #f4b400;
			color: #fff;
		}
	}
}
.fn-comment {
	font-size: 14px;
	margin: 1em 0;
	line-height: 1.4;
}
.fn-article {

}
.fn-preview {
	position: relative;
	padding: 45px 20px 30px;
	border: 1px solid #ccc;
	border-radius: 2px;
	margin: 2em 0;
	&::after {
		content: 'preview';
		font-size: 12px;
		background: #eee;
		padding: 4px 10px;
		position: absolute;
		top: 0;
		left: 0;
		color: #999;
		border-radius: 0 0 3px 0;
	}
}
.fn-pre {
	position: relative;
	padding: 34px 20px 22px;
	background: #fafafa;
	.fn-icon {
		position: absolute;
		top: 0.5em;
		right: 1em;
		cursor: pointer;
	}
	.fn-code {
		display: block;
		line-height: 1.4;
		overflow: auto;
		&:focus {
			outline: 0;
		}
	}
	&::after {
		content: 'code';
		font-size: 12px;
		background: #eee;
		color: #999;
		padding: 4px 10px;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 0 0 3px 0;
	}
}

svg.fn-ripple {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	circle {
		fill: rgba(255,255,255,0.7);
	}
}

.fn-mobile-visible {
	display: none;
}
.fn-pc-visible {
	display: block;
}
.fn-overflow {
	overflow: hidden;
	.fn-sidebar {
		margin-left: 0;
	}
	.fn-content {
		padding: 20px;
		margin-left: $sidebar-width;
		filter: blur(5px);
		&::after {
			content: '';
			position: absolute;
			top: -5px;
			left: -5px;
			right: -5px;
			bottom: -5px;
			background: rgba(255,255,255,0.3);
		}
	}
}

.fn-tooltip {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 6px #999;
	padding: 0.25em 1em;
	font-size: 16px;
}
.fn-color-pallet {
	width: 20%;
	margin: 0 12px 12px 0;
	display: inline-block;
	.fn-color-name {
		font-size: 16px;
		white-space: nowrap;
	}
	.fn-color-panel {
		display: block;
		height: 100px;
		border: 1px solid #ccc;
	}
}

.fn-overview {
	h1,h2,h3,h4,h5,h6,p,img,div,blockquote,pre,code,strong,ul,ol,li {
		@extend .fn-reset;
		line-height: 1.5;
	}

	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 2.25em;
	}
	h3 {
		font-size: 2em;
	}
	h4 {
		font-size: 1.5em;
	}
	h5 {
		font-size: 1.3em;
	}
	h6 {
		font-size: 1em;
	}
	blockquote {
		position: relative;
		border: 1px solid #eee;
		padding: 30px;
		margin: 10px 0;
		&:before,&:after {
			font-size: 48px;
			position: absolute;
			color: #eee;
		}
		&:before {
			line-height: 1;
			content: '“';
			top: 5px;
			left: 5px;
		}
		&:after {
			content: '”';
			bottom: 5px;
			right: 5px;
			line-height: 0;
		}
	}
	pre {
		background: #f8f8f8;
		border: 1px solid #ccc;
		margin: 10px 0;
		padding: 15px;
	}
	strong,b {
		font-weight: bold;
	}
	ul,ol {
		margin-bottom: 1em;
		padding-left: 20px;
	}
	ul {
		list-style-type: disc;
		li {
			list-style-type: disc;
		}
	}
	ol {
		list-style-type: decimal;
		li {
			list-style-type: decimal;
		}
	}
}

@media screen and (max-width: 480px) {
	.fn-copyright {
		display: none;
	}
}