.fn-header {
	@extend %fn-reset;
	@extend %clearfix;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	background: $header-color;
	height: $header-height;
	box-sizing: border-box;
	padding: 0 20px;
	box-shadow: $base-shadow;
	.fn-link {
		@extend %fn-reset;
		color: $header-font-color;
	}
	.fn-title {
		@extend %fn-reset;
		color: $header-font-color;
		letter-spacing: 2px;
		line-height: $header-height;
		font-size: 24px;
		float: left;
	}
	.fn-copyright {
		@extend %fn-reset;
		color: $header-font-color;
		float: right;
		line-height: $header-height;
		font-size: 11px;
	}
	.fn-drawer-trigger {
		float: left;
		line-height: $header-height;
		color: #fff;
		font-size: 20px;
		cursor: pointer;

	}
	.fn-icon-link {
		overflow: hidden;
		border-radius: 50px;
		padding: 20px;
		color: $header-font-color;
	}
}

.fn-container {
	@extend %fn-reset;
	@extend %clearfix;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding-top: 64px;
	position: relative;


	.fn-pagetop {
		position: fixed;
		right: 15px;
		bottom: 15px;
		transform: scale(0,0);
		transition: 400ms cubic-bezier(.17,.67,.47,1.31) transform;
		.fn-icon {
			background: #fff;
			padding: 15px;
			border-radius: 50px;
			box-shadow: $pagetop-shadow;
			&:hover {
				background: #f8f8f8;
			}
		}
		&.fn-show {
			transform: scale(1,1);
		}
	}
}
.fn-sidebar {
	@extend %fn-reset;
	overflow: auto;
	padding-top: 64px;
	width: $sidebar-width;
	height: 100%;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background: #f8f8f8;
	box-shadow: 1px 0 2px #eee;
	transition: 300ms cubic-bezier(.55,0,.1,1) margin;
	.fn-menu {
		@extend %fn-reset;
		position: relative;
		padding: 20px 12px;
		display: block;
		border-bottom: 1px solid #ccc;
		box-shadow: 0 1px 0 #fff;
		&.fn-is-active {
			background: #eee;
			&::after {
				font-size: 12px;
				font-family: fontawesome;
				content: $fa-var-chevron-right;
				position: absolute;
				right: 1em;
			}

		}
	}
	.fn-separate {
		@extend %fn-reset;
		padding: 10px 0;
		border: 0;
		display: block;
	}
}
.fn-content {
	@extend %fn-reset;
	width: 100%;
	box-sizing: border-box;
	padding: 20px 20px 20px $sidebar-width+20px;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(.55,0,.1,1);
	transition-property: margin,padding,filter;
}

.fn-heading2 {
	@extend %fn-reset;
	font-size: 32px;
	margin: 0.5em 0 1em;
	.fn-sub-heading {
		font-size: 14px;
		color: #666;
		word-break: break-all;
	}
}
.fn-heading3 {
	@extend %fn-reset;
	font-size: 24px;
	margin: 2em 0 1em;
}
.fn-attribute {
	@extend %fn-reset;
	@extend %clearfix;
	display: block;
	.fn-attribute-item {
		@extend %fn-reset;
		font-size: 12px;
		display: inline-block;
		padding: 4px 10px;
		border-radius: 3px;
		box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
		margin-right: 5px;
		background: #f8f8f8;
		&.fn-attribute-deprecated {
			background: #cb4437;
			color: #fff;
		}
		&.fn-attribute-todo {
			background: #f4b400;
			color: #fff;
		}
	}
}
.fn-comment {
	@extend %fn-reset;
	font-size: 14px;
	margin: 1em 0;
	line-height: 1.4;
}
.fn-article {
	@extend %fn-reset;
}
.fn-preview {
	@extend %fn-reset;
	position: relative;
	padding: 45px 20px 30px;
	border: 1px solid #ccc;
	border-radius: 2px;
	margin: 2em 0;
	&::after {
		content: 'preview';
		font-size: 12px;
		background: #eee;
		padding: 4px 10px;
		position: absolute;
		top: 0;
		left: 0;
		color: #999;
		border-radius: 0 0 3px 0;
	}
}
.fn-pre {
	@extend %fn-reset;
	position: relative;
	padding: 34px 20px 22px;
	background: #fafafa;
	.fn-icon {
		position: absolute;
		top: 0.5em;
		right: 1em;
		cursor: pointer;
	}
	.fn-code {
		@extend %fn-reset;
		display: block;
		line-height: 1.4;
		overflow: auto;
		&:focus {
			outline: 0;
		}
	}
	&::after {
		content: 'code';
		font-size: 12px;
		background: #eee;
		color: #999;
		padding: 4px 10px;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 0 0 3px 0;
	}
}

svg.fn-ripple {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	circle {
		fill: rgba(255,255,255,0.7);
	}
}

.fn-mobile-visible {
	display: none;
}
.fn-pc-visible {
	display: block;
}
.fn-overflow {
	overflow: hidden;
	.fn-sidebar {
		margin-left: 0;
	}
	.fn-content {
		padding: 20px;
		margin-left: $sidebar-width;
		filter: blur(5px);
		&::after {
			content: '';
			position: absolute;
			top: -5px;
			left: -5px;
			right: -5px;
			bottom: -5px;
			background: rgba(255,255,255,0.3);
		}
	}
}
