@media screen and (max-width: 680px) {
	.fn-content {
		padding: 20px;
	}
	.fn-sidebar {
		margin-left: -$sidebar-width;
	}
	.fn-mobile-visible {
		display: block;
	}
	.fn-pc-visible {
		display: none;
	}
}